.circle {
    position: relative;
  top: 50%;
  transform: translateY(-50%);
    display: inline-block;
    width: 3.125em;
	height: 3.125em;
	background: #5addb5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.small-circle {
    position: relative;
    display: inline-block;
    width: 35px;
	height: 35px;
	background: #5addb5;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#img1 {
    background: url(../images/u1.png) no-repeat;
}

#img2 {
    background: url(../images/u2.png) no-repeat;
}

#img3 {
    background: url(../images/l1.png) no-repeat;
}

#img4 {
    background: url(../images/l2.png) no-repeat;
}

#img5 {
    background: url(../images/l3.png) no-repeat;
}

#img6 {
    background: url(../images/l4.png) no-repeat;
}

.comment-name {
    display: inline-block;
    width: calc(100% - 50px);
    vertical-align: center;
    padding-left: 7px;
}

.details {
    max-width: 680px;
}

.apt-list {
    padding: 0;
    margin: 0;
    background-color: #fff;
    list-style-type: none;
}

.apt-list > li {
    height: 75px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid;
    border-color: #E7E7E7;
}

.apt-list > li:hover { 
    background-color: #d4d4d4;
}

.arrow {
    display: inline-block;
    position: relative;
    width: 35px;
    font-size: 35px;
}

li>.circle {
    margin: 0 14px 0 22px;
}

.apt-li {
    display: inline-block;
    width: calc(100% - 120px - 3.125em);
    vertical-align: center;
}

.apt-li-name {
    margin: 0;
}

.hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #000;
    margin: 1em 0; padding: 0;
}