body,html {
  padding: 0;
  font-family: "robotoregular";
}

/* MY APP STYLES */
.text_01 {
  color: #FFFFFF;
  font-family: "robotoregular";
  font-size: 0.875em;
}
.text_02 {
  color: #aeadad;
  font-family: "robotoregular";
  font-size: 0.813em;
}
.text_03 {
  color: #5addb5;
  font-family: "robotoregular";
  font-size: 0.813em;
}
