body,html {
  background: #E7E7E7;
  padding: 0;
  font-family: "robotoregular";
  font-size: 1.1em;
}
.modal-dialog {
  height: 90vh !important;
}
.modal-content {
  height: 100%;
}
/* MY APP STYLES */
.text_01 {
  color: #FFFFFF;
  font-family: "robotoregular";
  font-size: 0.875em;
}
.text_02 {
  color: #aeadad;
  font-family: "robotoregular";
  font-size: 0.813em;
}
.text_03 {
  color: #5addb5;
  font-family: "robotoregular";
  font-size: 0.813em;
}
.text_04 {
  color: #0F1922;
  font-family: "robotoregular";
  font-size: 1em;
}
.text_05 {
  color: #1C5A47;
  font-family: "robotoregular";
  font-size: 0.875em;
}
.text_06 {
  color: #404040;
  font-family: "robotoregular";
  font-size: 1em;
}
.text_07 {
  color: #747474;
  font-family: "robotoitalic";
  font-size: 1em;
}
/* NAVBAR DEFAULT */
.navbar {
  border: none;
}
.navbar-default {
  background: #1d2b36;
}
section#filters {
  background: #1d2b36;
  margin: 0 2.5vw;
  width: 95vw;
}
.filters_container> label {
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
  max-width: auto;
}
/* FILTERS */
.filter {
  color: #FFF;
  border-bottom: 1px solid #3F474E;
  height: 90px;
  padding: 8px 22px;
  width: 100%;
}
.filter>i {
  display: inline-block;
  font-size: 2.188em;
  height: 50px;
  margin-top: 10px;
  width: 50px;
}
.filter>p {
  display: inline-block;
  margin-left: 0px;
  margin-top: 20px;
  vertical-align: top;
  width: calc( 100% - 85px );
}
.filter>input[type="checkbox"] {
  display: inline-block;
  vertical-align: top;
  width: 25px;
}

.filter label {
  top: -20px;
}

.margin_filter {
  margin-left: 22px;
  padding: 8px 0;
}

/* MAP */
#main_container_map {
  height: 500px;
  margin-top: 20px;
  width: 100%;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
@media (min-width: 970px) {
  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }
  section#filters {
    display: inline-block;
    margin: 0;
    max-width: 270px;
    height: calc( 100vh - 50px );
    vertical-align: top;
  }
  .modal-dialog {
    height: auto;
  }
  .modal-content {
    height: auto;
  }
  #main_container_map {
    display: inline-block;
    height: calc( 100vh - 50px );
    width: calc( 100% - 270px );
    vertical-align: top;
    margin: 0;
    margin-left: -5px;
  }
}

.carousel-caption {
    padding-bottom: 0;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #5addb5;
}

.icon-flecha4 {
    color: #000;
    font-size: 45px;
    position: absolute;
  top: 50%;
    z-index: 5;
}

.icon-flecha3 {
    color: #000;
    font-size: 45px;
    margin-left: -45px;
    position: absolute;
  top: 50%;
    z-index: 5;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.icon-flecha3:before {
	content: "\e606";
}

.icon-flecha4:before {
	content: "\e606";
}
.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.modal-body {
    background-color: #1d2b36;
}