<div class="container details">
    <a class="text_05">Informacion general de la zona</a> 
    <div class="row">
        <div class="col-lg-12 text_04">
             <p>VALORACIÓN</p>  
            <div class="row text_06">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Educacion: 8</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Recreacion: 8</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Seguridad: 8</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Transporte: 8</p>
                </div>
            </div>
            <div class="row text_06">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Comercios: 8</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Pureza Ambiental: 8</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <p>Centros Medicos: 8</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="small-circle" id="img1"></div>
            <div class="comment-name">
                <p class="text_06">ELENA MARTÍNEZ</p>
            </div>
            <div class="comment-text">
            <p class="text_07">Es un lugar muy seguro y agradable. Los
centros educativos quedan cerca y son de
calidad
            </p>
                </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="small-circle" id="img2"></div>
            <div class="comment-name">
                <p class="text_06">RAFAEL ELIZONDO</h2>
            </div>
            <p class="text_07">Me parece un lugar adecuado para vivir, el
ambiente es agradable
            </p>
        </div>
    </div>
    <div class="hr">
    </div>
    <p class="text_04">apartamentos en la zona:</p>
    <ul class="apt-list">
        <li>
            <div class="circle" id="img3"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">APARTAMENTOS SANTA LUCÍA</p>
            <p>Santa Lucía, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li>
        <li>
            <div class="circle"id="img5"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">APARTAMENTOS DOÑA ANA</p>
            <p>San Vicente, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li>
        <li>
            <div class="circle"id="img4"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">CONDOMINIO LORENA</p>
            <p>Santo Domingo, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li>
        <li>
            <div class="circle"id="img6"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">LOS HIDALGOS</p>
            <p>San Pablo, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li>
        <li>
            <div class="circle"id="img5"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">URBANIZACIÓN LLANO DE TOLEDOS</p>
            <p>San Pablo, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li><li>
            <div class="circle"id="img4"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">SANTA BÁRBARA</p>
            <p>Santa Bárbara, Heredia</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li><li>
            <div class="circle"id="img3"></div>
            <div class="apt-li text_04">
            <p class="apt-li-name">PRADOS DE FLORENCIA</p>
            <p>Desamparados, San José</p>
            </div>
            <div class="icon-flecha2 arrow"></div>
        </li>
    </ul>
    
</div>