<div class="modal fade" id="modal-welcome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div id="carousel-welcome" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-welcome" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-welcome" data-slide-to="1"></li>
              <li data-target="#carousel-welcome" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="../images/1.png" alt="First Slide">
                <div class="carousel-caption">
                  <p class="text_01">Infórmate de los mejores lugares para vivir en Costa Rica</p>
                </div>
              </div>
              <div class="item">
                <img src="../images/2.png" alt="Second Slide">
                <div class="carousel-caption">
                  <p class="text_01">Encuentra un apartamento en el lugar que prefieras</p>
                </div>
              </div>
              <div class="item">
                <img src="../images/3.png" alt="Third Slide">
                <div class="carousel-caption">
                  <p class="text_01">myplace es gratis y accesible para cualquier dispositivo desde la web</p>
                </div>
              </div>
              <span class="left carousel-control" href="#carousel-welcome" role="button" data-slide="prev">
                <span class="icon-flecha3"></span>
              </span>
              <span class="right carousel-control" href="#carousel-welcome" role="button" data-slide="next">
                <span class="icon-flecha4"></span>
              </span>
            </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<section id="filters">
  <div class="toggle_filters text_02 margin_filter">FILTROS DE BÚSQUEDA</div>
  <div class="filters_container">
    <label for="filtro_01">
      <div class="filter">
        <i class="icon-educacion"></i>
        <p>EDUCACIÓN</p>
        <input onchange="toggleMapLayer('education')" type="checkbox" id="filtro_01" name="filtro_01" id="filtro_01" name="filtro_01">
        <label for="filtro_01"></label>
      </div>
    </label>
    <label for="filtro_02">
      <div class="filter">
        <i class="icon-medico"></i>
        <p>CENTROS MÉDICOS</p>
          <input type="checkbox" id="filtro_02" name="filtro_02" id="filtro_02" name="filtro_02">
          <label for="filtro_02"></label>
      </div>
    </label>
    <label for="filtro_03">
      <div class="filter">
        <i class="icon-comercios"></i>
        <p>COMERCIOS</p>
          <input type="checkbox" id="filtro_03" name="filtro_03" id="filtro_03" name="filtro_03">
          <label for="filtro_03"></label>
      </div>
    </label>
    <label for="filtro_04">
      <div class="filter">
        <i class="icon-ambiental"></i>
        <p>PUREZA AMBIENTAL</p>
          <input type="checkbox" id="filtro_04" name="filtro_04" id="filtro_04" name="filtro_04">
          <label for="filtro_04"></label>
      </div>
    </label>
    <label for="filtro_05">
      <div class="filter">
        <i class="icon-recreacion"></i>
        <p>RECREACIÓN</p>
          <input type="checkbox" id="filtro_05" name="filtro_05" id="filtro_05" name="filtro_05">
          <label for="filtro_05"></label>
      </div>
    </label>
    <label for="filtro_06">
      <div class="filter">
        <i class="icon-seguridad"></i>
        <p>SEGURIDAD</p>
          <input type="checkbox" id="filtro_06" name="filtro_06" id="filtro_06" name="filtro_06">
          <label for="filtro_06"></label>
      </div>
    </label>
    <label for="filtro_07">
      <div class="filter">
        <i class="icon-transporte"></i>
        <p>TRANSPORTE</p>
          <input type="checkbox" id="filtro_07" name="filtro_07" id="filtro_07" name="filtro_07">
          <label for="filtro_07"></label>
      </div>
    </label>
  </div>
</section>
<section id="main_container_map">
	<div id="map-canvas"></div>
</section>