<section id="filters">
  <div class="toggle_filters text_02 margin_filter">FILTROS DE BÚSQUEDA</div>
  <div class="filters_container">
    <label for="filtro_01">
      <div class="filter">
        <i></i>
        <p>EDUCACIÓN</p>
        <input type="checkbox" id="filtro_01" name="filtro_01" id="filtro_01" name="filtro_01">
        <label for="filtro_01"></label>
      </div>
    </label>
    <label for="filtro_02">
      <div class="filter">
        <i></i>
        <p>CENTROS MÉDICOS</p>
          <input type="checkbox" id="filtro_02" name="filtro_02" id="filtro_02" name="filtro_02">
          <label for="filtro_02"></label>
      </div>
    </label>
    <label for="filtro_03">
      <div class="filter">
        <i></i>
        <p>COMERCIOS</p>
          <input type="checkbox" id="filtro_03" name="filtro_03" id="filtro_03" name="filtro_03">
          <label for="filtro_03"></label>
      </div>
    </label>
    <label for="filtro_04">
      <div class="filter">
        <i></i>
        <p>PUREZA AMBIENTAL</p>
          <input type="checkbox" id="filtro_04" name="filtro_04" id="filtro_04" name="filtro_04">
          <label for="filtro_04"></label>
      </div>
    </label>

  </div>
</section>